@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot?t=1567997197547'); /* IE9 */
  src: url('iconfont.eot?t=1567997197547#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAUEAAsAAAAACmQAAAS1AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDUgqHJIVzATYCJAMkCxQABCAFhG0HbhvVCFGUTk6b7OdgU/ZwPd2GDbupHH82vstXdtlIOR4e19D3kxwX2LWqY3AApKZQoXDTU5NyylNGRtzmUpUxCdLxbBiUdGw0uYf8v+WTlXW8DBehAtgC1h/eM1+qU3I0k2w+UMnYS49eJ7oYxO844BiR1///9yueOh5pee3ZgIxqZuNQ2fAALVC3Rwr/BUkwW9ph7CbyIG8nMNox07l69/IOYwXYLxDviszAOGFVKsihN7QFp5bPnUF8ffqSbuGr9/Hx38kYkzQZuNPDt7cedvV7/ZupmbI00+jh3FDOIuMwUIiXhd4XekH2sJ7R8vYdr96+COpnFlRQ6WK3IiRZ0ah/eJ2eaAHtAk/6pOmPS4YRQSUiUYXIVCMKNYiGWkRLnUV3ETLeqhcJw95rwAqINRBnyeZIwV4ucKCWe2FmBAVsZXUN9V9EX0dNzbld6/B96p635pEH9MNF0UMhQI2pqIj0msmG0fadtC25g7HHiXa1y1ILnlgSrXpFZsnfKC/Nw/aU2IHYLnIq3kmfYexL/xli0yl93tRpG7WtZ43402dss5l7xry5+z5qRx8ifPqBcp6aVErwJBJcVSYj+XL5AmYHvVNFTSS9LwUeNbmJ2TKN8DfIYtsbms4wwaeokMbTorDmnQfpA45nZMVcuYjgULu2HVNGZfSCXI6EIbn03p0nVTAphS/B8FFKJ2NMpLdggtYlxxnt9GQLgXLpGRVM5N8MGxvTEYxuU1ZnphFBPtUjnlowJaYmx0k5OrlwUszPOk4U3iPc2oWx6G60paJcIikvF4b+ucZNbdUqOArFxRIJKFlRz+5nZJg8MyHG+8HvEt5dXIQH7lSMnZ7Gg/HZWTLwZBDebJs1A/emsERV4atE7zLY1D3Y0W2lwQGOhjmYa1iBFS5ncYiDnBzyLhCfkx2HQDySnY3EAxKXnXON1FxrLdQExxSzW2YpjoBuCNIL2oCCTlxcBizOIvx8QduNhhu7GnbNz4uHr5v3xgMJr8cNAEPfrbHKc2iTYV2FHzW6w5XYOW4J+zR7CbBWnUxIaNZveb5Wf+2790I9IREHpuctmQdJiJ88j/7CrqLCHuGbcyzqpQLoZewXqosCAGw3n+TyFSzFAy5tiT1RSlFEPy0Q42x08ZI+5ZN9VHi2WvD/fuIBAMDjmReYYGa7m/fSGgG9hCL7DYfaJ8yzQKwqABZDQfMMoMCSxtJId2uIHoPzerxisxEGmYXgmr9h9ZuN6wm9zQiSzjZkvV1cIR2GxuQ0tHoXYHTI/dmTdaInyoCDvjgIK74hWfINshU/uEL6hcaWf2itRA9Gz0PrkpO9UUyjhIySR3vBwnEbkEOnfuMrZYfaSFzhcT5JUpHA9WKVLtxTSzLEEemYbVQDBuEG77i7UV0zRuGSnC5y1bhdLkPREy0cNzB1hSCGIh6yLlDBYa1AV6tpBvtXJHNQM6RioiX8iYik2DhaW1g1wN1r20YTl7J1cpTZUCqIewWCNdAd7yY1zDIUi3cqEUct5B3S0dZSmBaaahfT65t7vQYj8ABDpMhRook2uuhjiFG5R+2hH+MLHScbu6Nt5KdEm6je60PI9/M5XiYRInzyaPu2F+H9IP2gRQsAAAAA')
      format('woff2'),
    url('iconfont.woff?t=1567997197547') format('woff'),
    url('iconfont.ttf?t=1567997197547') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('iconfont.svg?t=1567997197547#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconMenu:before {
  content: '\e6e2';
}

.iconEdit:before {
  content: '\e6e3';
}

.iconLabelled:before {
  content: '\e6e4';
}

.iconUnselected:before {
  content: '\e6e5';
}

.iconcopy:before {
  content: '\e6e6';
}

.iconArrowdown:before {
  content: '\e6e7';
}

.iconAdd:before {
  content: '\e6e8';
}

.iconPutin:before {
  content: '\e6e9';
}
