@import '../../assets/variables.scss';

.request-sign {
  display: flex;
  flex-direction: column;

  .tx-panel {
    min-height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid $grayDivide;
  }

  .adjust-gas {
    display: flex;
    flex-direction: column;
    .adjust-gas-desc {
      display: flex;
      flex-direction: column;
      color: #000;
      span {
        font-size: 14px;
      }
      div {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
      }
      > span {
        margin-top: 4px;
        opacity: 0.32;
      }
    }
  }
  .detail {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
