@import '../../assets/variables.scss';

.node-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .msg {
    color: red;
    margin-top: 16px;
    font-size: 14px;
  }
}
