@import '../../assets/variables.scss';

.enter-password {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  .title {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: $fontgray;
    align-self: flex-start;
  }
}
