@import '../assets/iconfont/iconfont.css';
@import '../assets/variables.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  textarea, button, input {
    outline: none;
  }
}

.container {
  display: flex;
  flex: 1;
  padding: 0 20px;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  img {
    width: 32px;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.yellow {
  color: #ECB417;
}
