@import '../assets/iconfont/iconfont.css';
@import '../assets/variables.scss';

body {
  margin: 0;
}

#root {
  width: 358px;
  height: 580px;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  textarea, button, input {
    outline: none;
  }
}

.divide-1 {
  width: 100%;
  height: 1px;
  background: #DCE0E2;
}

.container {
  width: 318px;
  display: flex;
  color: $fontgray;
}

.container-column {
  flex-direction: column;
}

.container-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  img {
    width: 32px;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  .container-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .account-title {
      height: 56px;
      width: 100%;
      color: $fontgray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #EEEEEE;

      .name {
        margin-left: 119px;
        width: 120px;
        overflow: hidden;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }

      .arrow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 20px;
        cursor: pointer;

        .arrow-icon {
          font-size: 8px;
        }
      }

      .account-action {
        position: absolute;
        top: 130px;
        left: 112px;
        border: 1px solid $grayDivide;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.30);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        width: 226px;
        height: 80px;
        justify-content: space-around;
        font-size: 14px;
        background-color: #fff;

        span {
          cursor: pointer;
          padding-left: 20px;
          padding-top: 12px;
          padding-bottom: 12px;
          border-radius: 4px;
        }

        :hover {
          background-color: $itemBgColor;
        }
      }
    }

    .account-address {
      display: flex;
      justify-content: center;
      width: 246px;
      height: 40px;
      margin-top: 16px;
      font-size: 14px;
      color: $addressColor;

      span {
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
      }
    }

    .copy {
      margin-top: 12px;
      width: 58px;
      height: 18px;
      background: #F2F3F4;
      border: 1px solid #DCE0E2;
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .copy-icon {
        color: $yellow;
        font-size: 10px;
      }

      .copy-text {
        color: $fontgray;
      }
    }
  }

  .container-no-account {
    align-items: center;
    
    .home-logo {
      margin-top: 60px;
      width: 90px;
      height: 90px;
    }

    .button-new-account {
      margin-top: 40px;
    }

    .button-import-account {
      margin-top: 16px;
    }
  }
}

.input {
  margin-top: 16px;
  padding: 12px;
  width: 296px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid $grayDivide;
  border-radius: 6px;
  font-size: 14px;
  color: $fontgray;

  ::placeholder {
    color: $placeholderColor;
  }
}

.button {
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.button-white {
  width: 318px;
  border: 1px solid #DCE0E2;
}

.button-white-half {
  width: 151px;
  border: 1px solid #DCE0E2;
}

.button-yellow-half {
  width: 151px;
  background: $yellow;
  border: 1px solid rgba(0, 0, 0, 0.04);
  color: #000;
}

.button-yellow {
  width: 318px;
  background: $yellow;
  border: 1px solid rgba(0, 0, 0, 0.04);
  color: #000;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-16 {
  margin-top: 16px;
}

.span-center-wrap {
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.red {
  color: #DE071C;
}

.red-bg {
  background-color: #DE071C;
}

.yellow {
  color: #ECB417;
}

.yellow-bg {
  background-color: #ECB417;
}

.green {
  color: #2CAA84;
}

.green-bg {
  background-color: #2CAA84;
}
