@import '../../assets/variables.scss';

.import-account-title {
  font-size: 20px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .import-account-title-select {
    display: flex;
    justify-content: space-between;

    .second-choice {
      color: $placeholderColor;
      cursor: pointer;
    }
  }
}

.import-mnemonic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .word-item {
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
    width: 30%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid $grayDivide;
    border-radius: 20px;
    color: $fontgray;
    caret-color: $yellow;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
