
$gray: #f2f3f4;
$grayDivide: #dce0e2;
$fontgray: #3f3f3f;
$subTitle: #666666;
$placeholderColor: #AFB1B4;
$addressColor: #8E9193;
$itemBgColor: #F2F3F4;
$blue: #3da0d2;
$red: #C54315;
$green: #03AC79;
$yellow: #f6c94a;
$deepYellow: #D8A001;
$deepGray: #DEDEDE;
$winWidth: 1280px;
$winPadding: 0;
