@import '../../assets/variables.scss';

.create-account {
  display: flex;
  flex-direction: column;
  min-height: 86px;
  .create-account-title {
    font-size: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .create-account-sub-title {
      margin-top: 8px;
      color: $subTitle;
      font-size: 14px;
    }
  }
  .create-account-body {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    .create-account-body-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .word-item {
        margin-top: 16px;
        width: 100px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid $grayDivide;
        border-radius: 20px;
        color: $fontgray;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .word-item-click {
        cursor: pointer;
        transition: filter 0.3s ease 0.3s;
        &:hover {
          background: #F2F3F4;
        }
        &:active {
          filter: drop-shadow(0 0 2px #000);
          transition: filter .3s;
        }
      }
      .word-item-selected {
        background: #F2F3F4;
        border: 1px solid $grayDivide;
      }
    }
  }
  .validate-mnemonic-area {
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 378px;
    height: 90px;
    background-color: $itemBgColor;
    display: flex;
    justify-content: center;
    .validate-mnemonic-area-container {
      width: 318px;
      min-height: 60px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 8px;
      span {
        height: 15px;
        margin-top: 8px;
        margin-left: 10px;
        font-size: 14px;
        color: $fontgray;
      }
    }
  }
}