@import '../../assets/variables.scss';

.create-account {
  display: flex;
  flex-direction: column;
  min-height: 86px;

  .create-account-title {
    font-size: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .create-account-sub-title {
      margin-top: 8px;
      color: $subTitle;
      font-size: 14px;
    }
  }

  .create-account-body {
    margin-top: 8px;
    display: flex;
    flex-direction: column;

    .create-account-body-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .word-item {
        margin-top: 16px;
        width: 100px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid $grayDivide;
        border-radius: 20px;
        color: $fontgray;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .word-item-click {
        cursor: pointer;
        transition: filter 0.3s ease 0.3s;

        &:hover {
          background: #F2F3F4;
        }

        &:active {
          filter: drop-shadow(0 0 2px #000);
          transition: filter .3s;
        }
      }

      .word-item-selected {
        background: #F2F3F4;
        border: 1px solid $grayDivide;
      }
    }
  }

  .validate-mnemonic-area {
    margin: 20px -20px 0;
    background-color: $itemBgColor;
    flex: 1;
    justify-content: center;
    padding: 8px 20px 0;
    flex-wrap: wrap;
    min-height: 60px;

    span {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      word-break: break-all;
      margin-top: 8px;
      height: 15px;
      font-size: 14px;
      color: $fontgray;
    }
  }
}
