@import '../../assets/variables.scss';

.create-account-body-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .word-item {
    margin-top: 16px;
    width: 30%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid $grayDivide;
    border-radius: 20px;
    color: $fontgray;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .word-item-click {
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;

    &:hover {
      background: #F2F3F4;
    }

    &:active {
      filter: drop-shadow(0 0 2px #000);
      transition: filter .3s;
    }
  }

  .word-item-selected {
    background: #F2F3F4;
    border: 1px solid $grayDivide;
  }
}
